#sertting_name .toolbar-title-md{
  font-size:1.6rem;
}
#setting{
  background:#F4F4F4;
}
#setting .list-md .item-block .item-inner{
  border-bottom:1px solid #dedede !important;
}
#setting ion-list ion-icon{
  float: right;
}
